.site-header{
  .navbar-nav{
    .menu-item{
      a{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 135%;
        color: #2B2B36;
        display: block;

        @media (max-width: 1399.98px) {
          font-size: 14px;
        }

        @media(max-width: 992px){
          padding: 14px 18px;
          border-bottom: 1px solid #f8f9fa;
          transition: background-color 0.2s ease-in-out;

          &:last-child{
            border-bottom: none;
          }
        }

        @media(max-width: 767px){
          font-size: 16px;
          padding: 16px;
          border-bottom: none;
        }


        &:hover {
          color: #2B2B36;
          text-decoration: none;
          background-color: transparent;

          @media(max-width: 992px){
            background-color: #f8f9fa;
          }
        }
      }
    }
  }

  .lang-wrapper{
    position: relative;
    margin-left: 48px;

    @media(max-width: 992px){
      margin-left: 18px;
    }

    @media(max-width: 767px){
      padding: 16px;
      margin: 0;
    }

    .page-lang{
      display: flex;
      align-items: center;

      @media(max-width: 767px){
        justify-content: center;
        padding: 16px 0;
      }

      svg{
        width: 24px !important;
        height: auto;

        @media(max-width: 1399.98px){
          width: 20px !important;
          margin-right: 10px !important;
        }

        @media(max-width: 767px){
          width: 24px !important;
        }

        path{
          stroke: #2B2B36;
        }
      }

      .lang-name{
        flex: 1;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 135%;
        color: #2B2B36;
        
        @media(max-width: 1399.98px){
          font-size: 14px;
        }

        @media(max-width: 767px){
          flex: unset;
          font-size: 16px;
        }
      }
    }

    .lang-list{
      position: absolute;
      display: none;
    }
  }
}