.breadcrumbs{
  a{
    color: var(--bs-link-color) !important;

    &:hover{
      color: var(--bs-link-hover-color) !important;

    }
  }
}

.post-featured{
  object-fit: cover;
  max-height: 450px;
}

.news-body{
  .wp-block-separator{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    opacity: 0.25;
  }

  .wp-block-list{
    margin-left: 0;
  }
}