/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.wp-block-yuna-car-service-home-main-screen{
  min-height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 50px;
  color: var(--color-white);

  @media(max-width: 992px){
    padding-top: 180px;
  }

  @media(max-width: 767px){
    padding-top: 150px;
  }

  @media(max-width: 440px){
    padding-top: 120px;
  }

  &:after{
    position: absolute;
    content: '';
    inset: 0;
    background-color: var(--color-black);
    opacity: 0.3;
    z-index: 1;
  }

  &:before{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(-90deg, var(--color-black) 0%, rgba(0,0,0,0) 100%);
    z-index: 2;
  }
  .container{
    position: relative;
    z-index: 3;
  }

  .page-title{
    margin-bottom: 32px;
  }

  .buttons-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 70px;

    @media(max-width: 767px){
      margin-bottom: 50px;
    }

    @media(max-width: 440px){
      margin-bottom: 40px;
    }
  }

  .slogan-text{
    margin-bottom: 0;
    width: 40%;
    margin-left: auto;

    @media(max-width: 992px){
      width: 60%;
    }

    @media(max-width: 767px){
      width: 100%;
    }
  }



}