/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-car-service-offer {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-black);
    opacity: 0.7;
    z-index: 1;
  }

  .container{
    position: relative;
    z-index: 2;
  }

  .block-title{
    margin-bottom: 16px;
  }

  .text{
    p{
      margin-bottom: 8px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .button{
    margin-top: 32px;
  }
}
