/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-yuna-clining-contacts {
  background-color: var(--color-white);

  .content{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;

    &:before{
      content: '';
      position: absolute;
      inset: 0 -30px;
      border-radius: 24px;
      background-color: var(--color-accent);
      z-index: 1;

      @media(max-width: 575px){
        inset: 0;
      }
    }
  }

  .block-title{
    color: var(--color-black);
    margin-bottom: 20px;

    @media(max-width: 575px){
      text-align: center;
    }
  }

  .text{
    margin-bottom: 20px;
    color: var(--color-black);
    width: calc(100% - 30px);

    @media(max-width: 575px){
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    p{
      margin-bottom: 8px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  form{
    margin-top: 30px;
    padding: 40px 30px;
    border-radius: 24px;
    background-color: var(--color-white);
    overflow: hidden;

    @media(max-width: 440px){
      padding: 30px 15px;
    }
  }

  .map{
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 40%;

    @media(max-width: 1630px){
      padding-bottom: 55%;
    }

    @media(max-width: 1400px){
      padding-bottom: 65%;
    }

    @media(max-width: 1200px){
      padding-bottom: 75%;
    }

    iframe{
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }

  .contacts-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .contact-column{
      width: calc(50% - 15px);
      border-radius: 24px;
      background-color: var(--color-white);
      padding: 30px;
      display: grid;
      gap: 15px;

      @media(max-width: 992px){
        width: 100%;
      }

      @media(max-width: 440px){
        padding: 30px 15px;
      }

      .contact-item{
        display: flex;
        align-items: center;
        color: var(--color-black);
        margin-bottom: 0;

        svg{
          width: 24px;
          height: auto;
          margin-right: 10px;

          @media(max-width: 440px){
            width: 20px;
          }

          path{
            fill: var(--color-accent);
          }
        }

        span{
          flex: 1;
        }
      }
    }
  }

  .form-wrapper{
    position: relative;
    z-index: 2;
    width: calc(30% - 15px);

    @media(max-width: 1630px){
      width: calc(40% - 15px);
    }

    @media(max-width: 992px){
      width: calc(50% - 15px);
    }

    @media(max-width: 767px){
      width: 100%;
    }
  }

  .contacts-wrapper{
    position: relative;
    z-index: 2;
    width: calc(70% - 15px);

    @media(max-width: 1630px){
      width: calc(60% - 15px);
    }

    @media(max-width: 992px){
      width: calc(50% - 15px);
    }

    @media(max-width: 767px){
      width: 100%;
    }
  }

}
