/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-yuna-car-service-brands-service {
  background-color: var(--color-black);

  .row{
    align-items: center;
  }

  .subtitle{
    margin-bottom: 0;
    color: var(--color-white);

    @media(max-width: 992px){
      margin-bottom: 32px;
    }
  }

  .brands-list{
    gap: 16px;
    justify-content: center;

    .brand{
      width: calc(16.66% - (16px * 5 / 6));

      @media(max-width: 440px){
        width: calc(25% - (16px * 3 / 4));
      }

      img{
        width: 100%;
        height: auto;
      }
    }
  }


}
