/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-yuna-clining-service-price {
  background-color: var(--color-white);

  .content{
    position: relative;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    &:before{
      content: '';
      position: absolute;
      inset: 0 -30px;
      border-radius: 24px;
      background-color: var(--color-accent);

      @media(max-width: 575px){
        inset: 0;
      }
    }
  }

  .text-wrapper{
    position: relative;
    z-index: 2;
    width: calc(40% - 15px);

    @media(max-width: 1400px){
      width: calc(45% - 15px);
    }

    @media(max-width: 992px){
      width: calc(50% - 15px);
    }

    @media(max-width: 767px){
      width: 100%;
    }
  }

  .image-wrapper{
    border-radius: 24px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: calc(60% - 15px);

    @media(max-width: 1400px){
      width: calc(55% - 15px);
    }

    @media(max-width: 992px){
      width: calc(50% - 15px);
    }

    @media(max-width: 767px){
      width: 100%;
      padding-bottom: 40%;
    }

    img{
      position: absolute;
      inset: 0;
    }
  }

  .block-title{
    color: var(--color-black);
    margin-bottom: 40px;

    @media(max-width: 992px){
      margin-bottom: 30px;
    }

    @media(max-width: 575px){
      text-align: center;
    }

  }

  .price-list{
    margin: 0;
    padding: 30px;
    gap: 15px;
    display: grid;
    background-color: var(--color-white);
    border-radius: 24px;

    @media(max-width: 440px){
      padding: 30px 15px;
      gap: 10px;
    }

    .item{
      display: flex;
      align-items: center;

      .icon{
        width: 24px;
        margin-right: 15px;

        @media(max-width: 440px){
          width: 20px;
          margin-right: 10px;
        }

        svg{
          height: auto;
          width: 100%;
          filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1));

          path{
            fill: var(--color-accent);
          }
        }
      }
      .text{
        flex: 1;

        p{
          margin-bottom: 0;
          display: inline-block;
          color: var(--color-black);

          &.name{
            font-weight: 500;
            padding-right: 10px;

            @media(max-width: 440px){
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
}
