/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-car-service-contacts {
  background-color: var(--color-black);

  .block-name{
    color: var(--color-gray);
  }

  .block-title{
    margin-bottom: 0;

    @media(max-width: 992px){
      margin-bottom: 24px;
    }
  }

  .text{
    color: var(--color-gray);
    margin-bottom: 0;
  }

  .map-wrapper{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;

    @media(max-width: 767px){
      margin-top: 0;
      padding-bottom: 0;
    }

    @media(max-width: 440px){
      padding-top: 32px;
    }
  }

  .map{
    position: absolute;
    inset: 0;
    z-index: 1;
    opacity: 0.9;

    @media(max-width: 767px){
      position: relative;
      height: 350px;
    }

    iframe{
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }

  .form-wrapper{
    position: relative;
    z-index: 2;

    .inner{
      border-radius: 15px;
      background-color: var(--color-black);
      padding: 24px;

      @media(max-width: 767px){
        padding: 0 24px 40px;
      }

      @media(max-width: 440px){
        padding: 0 0 32px;
      }
    }
  }

}
