package layout

templ Footer(){
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Contacts: <a href="https://beehivelogic.com/" target="_blank">Beehive Logic</a>. App Version </span>
            </div>
        </div>
    </footer>
}