/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-yuna-clining-service-result {
  background-color: var(--color-white);


  .block-title{
    color: var(--color-black);
    margin-bottom: 20px;
  }

  .text{
    margin-bottom: 30px;
  }

  form{
    margin-top: 30px;

    @media(max-width: 767px){
      margin-bottom: 30px;
    }
  }

  .slide{
    margin: 15px;
    border-radius: 24px;
    border: 1px solid var(--color-accent);
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);
    overflow: hidden;

    .pic-wrapper{
      position: relative;
      width: 100%;
      padding-bottom: 110%;

      @media(max-width: 1630px){
        padding-bottom: 140%;
      }

      @media(max-width: 1400px){
        padding-bottom: 150%;
      }

      @media(max-width: 1200px){
        padding-bottom: 110%;
      }

      @media(max-width: 992px){
        padding-bottom: 140%;
      }

      @media(max-width: 767px){
        padding-bottom: 120%;
      }

      img{
        position: absolute;
        inset: 0;
      }
    }
  }

  .slick-dots{
    li{
      background-color: var(--color-gray);

      &.slick-active{
        background-color: var(--color-accent);
      }
    }
  }

}
