/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-yuna-clining-team {
  background-color: var(--color-white);

  .text-content{
    margin-bottom: 30px;
  }

  .block-title{
    color: var(--color-black);
    margin-bottom: 20px;

  }

  .text{
    margin-bottom: 20px;
  }

  .team-list-wrapper{
    margin-top: 30px;
    row-gap: 30px;
  }

  .team-men{

    .inner{
      border-radius: 24px;
      border: 1px solid var(--color-accent);
      padding: 20px;
      height: 100%;

      @media(max-width: 575px){
        width: 80%;
        min-width: 290px;
        margin: 0 auto;
      }
    }

    .name{
      color: var(--color-black);
      margin-bottom: 4px;
    }

    .specialization{
      font-size: 16px;
      margin-bottom: 10px;
    }

    .pic-wrapper{
      position: relative;
      overflow: hidden;
      border-radius: 12px;
      width: 100%;
      padding-bottom: 150%;

      img{
        position: absolute;
        inset: 0;
        transition: all 0.3s;
      }
    }

    &:hover{
      .pic-wrapper{
        img{
          transform: scale(1.1);
        }
      }

    }
  }

  .more-team-men{
    margin-top: 50px;
  }
}
