/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-car-service-reviews {
  background-color: var(--color-soft-black);

  .block-name{
    color: var(--color-gray);
  }

  .block-title{
    margin-bottom: 40px;
  }

  .text{
    color: var(--color-gray);

    p{
      margin-bottom: 8px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .slider-wrapper{
    position: relative;
  }

  .slider{
    width: 100vw;
    padding-left: 80px;
    padding-top: 60px;
    background-color: var(--color-red);
    border-radius: 24px 0 0 0;
    position: relative;
    z-index: 1;

    @media(max-width: 1200px){
      padding-top: 50px;
      padding-left: 70px;
    }

    @media(max-width: 767px){
      padding-top: 40px;
      padding-left: 60px;
    }

    @media(max-width: 575px){
      padding-top: 32px;
      padding-left: 24px;
      width: 140vw;
    }

    @media(max-width: 440px){
      width: 160vw;
      padding-left: 12px;
    }
  }

  .slick-track{
    display: flex;
  }

  .control-wrapper{
    gap: 24px;
    display: flex;
    position: absolute;
    z-index: 2;
    right: 16px;
    bottom: 24px;

    @media(max-width: 1200px){
      gap: 16px;
      bottom: 16px;
    }

    @media(max-width: 440px){
      gap: 12px;
      bottom: 12px;
    }
  }

  .slide{
    margin: 0 12px;
    border-radius: 15px;
    background-color: var(--color-white);
    padding: 60px 50px;
    height: auto;

    @media(max-width: 1200px){
      padding: 50px 40px;
    }

    @media(max-width: 767px){
      padding: 40px 30px;
    }

    @media(max-width: 440px){
      padding: 32px 24px;
    }

    .avatar{
      width: 116px;
      height: 116px;
      border-radius: 6px;
      overflow: hidden;
      background-color: var(--color-soft-red);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;

      @media(max-width: 1200px){
        width: 105px;
        height: 105px;
      }

      @media(max-width: 767px){
        width: 95px;
        height: 95px;
      }

      @media(max-width: 440px){
        width: 85px;
        height: 85px;
        margin-bottom: 24px;
      }

      p{
        color: var(--color-white);
        text-transform: uppercase;
        margin-bottom: 0;
        text-align: center;
        font-size: 64px;
        font-weight: 700;

        @media(max-width: 1200px){
          font-size: 58px;
        }

        @media(max-width: 767px){
          font-size: 52px;
        }

        @media(max-width: 440px){
          font-size: 46px;
        }
      }
    }

    .review-text{
      margin-bottom: 32px;
      height: 150px;
      overflow-y: scroll;
      scrollbar-color: var(--color-soft-red) var(--color-white);
      scrollbar-width: thin;
      padding-right: 10px;
      color: var(--color-gray);

      @media(max-width: 767px){
        height: 140px;
      }

      @media(max-width: 440px){
        margin-bottom: 24px;
      }

      p{
        margin-bottom: 8px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    .name{
      margin-bottom: 0;
      color: var(--color-black);
    }
  }

  .slick-dots{
    li{
      background-color: var(--color-gray);

      &.slick-active{
        background-color: var(--color-accent);
      }
    }
  }
}
