/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.wp-block-yoursecret-inner-page-video-hero{
  margin-bottom: 2.5rem!important;

  video{
    height: 50vh;
    object-fit: cover;
    margin-top: 0;
  }
  
}
