/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-car-service-team {
  background-color: var(--color-soft-black);

  .block-name{
    color: var(--color-gray);
  }

  .block-title{
    margin-bottom: 40px;

    @media(max-width: 992px){
      margin-bottom: 24px;
    }
  }

  .text{
    color: var(--color-gray);

    @media(max-width: 992px){
      margin-bottom: 32px;
    }
  }

  .slider-wrapper{
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .slider{
    position: relative;
  }

  .team-list-wrapper{
    margin-top: 30px;
    row-gap: 30px;
  }

  .slide{
    margin: 0 16px;

    .pic-wrapper{
      position: relative;
      width: 100%;
      border-radius: 15px;
      overflow: hidden;
      padding-bottom: 100%;
      margin-bottom: 24px;

      img{
        position: absolute;
        inset: 0;
      }
    }

    .name{
      margin-bottom: 4px;
    }

    .specialization{
      margin-bottom: 16px;
      color: var(--color-gray);
    }

    .description{
      font-size: 14px;
      margin-bottom: 0;
      color: var(--color-gray);
    }
  }

  .slick-dots{
    justify-content: center;

    li{
      background-color: var(--color-gray);

      &.slick-active{
        background-color: var(--color-soft-red);
      }
    }
  }
}
