/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-yuna-car-service-our-service {
  background-color: var(--color-black);

  .content{
    margin-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .heading{
    width: calc(60% - 16px);

    @media(max-width: 767px){
      width: 100%;
    }
  }

  .block-name{
    color: var(--color-gray);
  }

  .text{
    margin-bottom: 0;
    width: calc(40% - 16px);
    color: var(--color-gray);

    @media(max-width: 767px){
      width: 100%;
    }
  }

  .block-title{
    margin-bottom: 0;
  }


  .slider-wrapper{
    padding-left: 0;
    padding-right: 0;
  }

  .slick-track{
    display: flex;
  }

  .slide{
    margin: 0 16px;
    border-radius: 15px;
    display: block;
    height: auto;
    position: relative;
    overflow: hidden;

    span{
      display: block;
    }

    &:after{
      content: '';
      inset: 0;
      background-color: var(--color-black);
      z-index: 2;
      opacity: 0.3;
      position: absolute;
    }

    &:before{
      content: '';
      position: absolute;
      inset: 0;
      z-index: 3;
      background: linear-gradient(rgba(0,0,0,0)0%, var(--color-black) 100%);
    }

    .pic-wrapper{
      width: 100%;
      padding-bottom: 150%;
      position: relative;
      z-index: 1;
      border-right: 15px;
      overflow: hidden;

      img{
        position: absolute;
        inset: 0;
        transition: all 0.3s;
      }
    }

    .number{
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      padding-top: 32px;
      padding-left: 28px;
      font-weight: 500;
      font-size: 16px;
      color: var(--color-white);
    }

    .info{
      position: absolute;
      z-index: 4;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0 28px 32px;

      .icon{
        height: 64px;
        margin-bottom: 8px;

        .svg-pic{
          height: 100%;
          width: auto;

          path{
            fill: var(--color-white);
          }
        }
      }
      .name{
        color: var(--color-white) !important;
      }

    }

    &:hover{
      .pic-wrapper{
        img{
          transform: scale(1.2);
        }
      }

      .number{
        color: var(--color-red) !important;
      }

      .info{
        .icon{
          .svg-pic{
            path{
              fill: var(--color-red);
            }
          }
        }
        .name{
          color: var(--color-red) !important;
        }
      }
    }
  }

  .slick-dots{
    justify-content: center;

    li{
      background-color: var(--color-gray);

      &.slick-active{
        background-color: var(--color-soft-red);
      }
    }
  }
}
