/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-yuna-clining-advantages {
  background-color: var(--color-white);

  .content{
    position: relative;

    &:before{
      content: '';
      position: absolute;
      inset: 0 -30px;
      border-radius: 24px;
      background-color: var(--color-accent);

      @media(max-width: 575px){
        inset: 0;
      }
    }
  }

  .block-title{
    color: var(--color-black);
    margin-bottom: 50px;
    position: relative;
    z-index: 2;

    @media(max-width: 992px){
      margin-bottom: 40px;
    }

  }

  .advantages-list{
    margin: 0;
    padding: 0;
    gap: 30px;
    justify-content: center;
    position: relative;
    z-index: 2;

    .item{
      width: calc(40% - 15px);
      border-radius: 24px;
      background-color: var(--color-white);
      padding: 40px;
      text-align: center;

      @media(max-width: 992px){
        width: calc(50% - 15px);
      }

      @media(max-width: 767px){
        padding: 20px;
      }

      @media(max-width: 575px){
        width: 70%;
        min-width: 290px;
      }

      .icon{
        height: 50px;
        margin: 0 auto 30px;

        .svg-pic{
          height: 100%;
          width: auto;
          filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1));

          path{
            fill: var(--color-accent);
          }
        }
      }

      .name{
        margin-bottom: 30px;
        color: var(--color-black);
      }

      .description{
        margin-bottom: 0;
      }
    }
  }
}
