/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.wp-block-yoursecret-home-hero{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

}
