/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-car-service-numbers{
  background-color: var(--color-red);
  padding-top: 40px;
  padding-bottom: 40px;

  .numbers-list{
    row-gap: 24px;
    margin: 0;

    .item{
      width: 25%;
      border-left: 1px solid var(--color-white);
      padding: 0 16px;

      @media(max-width: 992px){
        width: 50%;

        &:nth-child(3),
        &:nth-child(6){
          border-left: none;
        }
      }

      @media(max-width: 440px){
        padding: 0 12px;
      }

      .number{
        margin-bottom: 16px;
        color: var(--color-white);
        font-family: var(--font-inter);
        font-weight: 600;
        line-height: 1.1;
        font-size: 64px;

        @media(max-width: 1200px){
          font-size: 58px;
        }

        @media(max-width: 767px){
          font-size: 52px;
        }

        @media(max-width: 440px){
          font-size: 11vw;
        }
      }

      .description{
        margin-bottom: 0;
        color: var(--color-soft-gray);
      }



      &:first-child,
      &:nth-child(5),
      &:nth-child(9){
        border-left: none;
      }
    }

  }

}
