/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-yuna-technology{
  background-color: var(--color-dark);

  .content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .item{
    height: 80px;
    filter: drop-shadow(15px 15px 8px rgba(255, 236, 230,0.2));;
    list-style: none;
    perspective: 1000px;

    @media(max-width: 575px){
      height: 70px;
    }

    @media(max-width: 440px){
      height: 60px;
    }

    .svg-pic{
      height: 100%;
      width: auto;
    }


  }
}
